``{{event.type}}``
  Summary:
    {{event.summary}}
  Type:
    {{event.typeof}}
  Description:
    {{event.desc | indent(4)}}
  Required Keys:
    ``{{event.required_keys | jsonify}}``

  JSON Format::

    {{event.json_format | jsonify(4, 4)}}

  Example::

    {{example.content | jsonify(4, 4)}}
