{% import 'tables.tmpl' as tables -%}

{{common_event.title}} Fields
{{(7 + common_event.title | length) * title_kind}}

{{common_event.desc | wrap(80)}}

{{ tables.paramtable(common_event.rows, ["Key", "Type", "Description"]) }}
