{% import 'tables.tmpl' as tables -%}

``{{event.type}}``
{{(4 + event.type | length) * title_kind}}

{% if (event.typeof | length) %}
*{{event.typeof}}*
    {{event.typeof_info}}

{% endif -%}

{{event.desc | wrap(80)}}
{% for table in event.content_fields %}
{{"``"+table.title+"``" if table.title else "" }}

{{ tables.paramtable(table.rows, [(table.title or "Content") ~ " Key", "Type", "Description"]) }}

{% endfor %}
Example{% if examples | length > 1 %}s{% endif %}:

{% for example in examples %}
.. code:: json

    {{example | jsonify(4, 4)}}
{% endfor %}
