/api/node_modules
/assets.tar.gz
/env*
/resources
/scripts/gen
/scripts/continuserv/continuserv
/scripts/speculator/speculator
/scripts/swagger
/scripts/tmp
/templating/out
*.pyc
*.swp
_rendered.rst
/.vscode/
/.idea/
