/api/node_modules
/assets
/assets.tar.gz
/env*
/scripts/gen
/scripts/continuserv/continuserv
/scripts/speculator/speculator
/scripts/swagger
/scripts/tmp
/templating/out
*.pyc
*.swp
_rendered.rst
/.vscode/
