---
layout: default
---
<style>
img[alt="screenshot"] { 
    max-width: 800px; 
    display: block;

}

.font18 {
    font-size: 18px;
}

.bold {
    font-weight: bold;
}


.thumbnail {
    max-width: 150px;
}

.project {

   vertical-align: text-top;
    width: 170px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 20px;
}

.bigproject {
    vertical-align: text-top;
    width: 300px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
}

.featured_screenshot {
    max-height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.toc {
    display: table;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    list-style: disc inside;
    list-style-type: disc inside;
    color: #2EA3F2;
    padding-left: 16px;
    width: 400px;
  
}

</style>
    {{ content }}

