{{/*

  This template is used to provide different content for the unstable spec
  version and for a versioned release.

*/}}

{{ $status := .Site.Params.version.status }}

{{ if eq $status "unstable"}}

<p>This is the <strong>unstable</strong> version of the Matrix specification.</p>
<p>This changelog lists changes made since the last release of the specification.</p>

{{ else }}

{{ $path := path.Join "changelogs" }}
{{ $release_info := readFile (path.Join $path "release.yaml") | transform.Unmarshal }}
<p>This is version <strong>{{ $release_info.tag }}</strong> of the Matrix specification.</p>

{{ end }}
