{{/*

  Display an alert box of the given type, containing the given content.

  Supported types are "warning", "info", and "rationale".
  The type determines the colors used in the box and, by default,
  the title for the box: WARNING, INFO, RATIONALE.

  By passing "omit_title", a caller can suppress the title, and just get
  a box using the colors and styles for the given type.

*/}}

{{ $type := .type}}
{{ $content := .content}}
{{ $omit_title := .omit_title }}

<div class="alert {{ $type }} {{ if $omit_title }}omit-title{{end}}" role="alert">
{{ $content | markdownify }}
</div>
