{{/*

  A copy of the breadcrumb.html partial in Docsy, modified
	to:
  * omit breadcrumbs when this is the homepage
  * otherwise, include the homepage in the breadcrumbs

*/}}

{{ if not .IsHome }}
<nav aria-label="breadcrumb" class="d-none d-md-block d-print-none">
	<ol class="breadcrumb spb-1">
{{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
	</ol>
</nav	>
{{ end }}

{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
{{ else if not .p1.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
{{ end }}
{{ $isActive :=  eq .p1 .p2  }}
<li class="breadcrumb-item{{ if $isActive }} active{{ end }}" {{ if $isActive }}aria-current="page"{{ end }}>
	<a href="{{ .p1.RelPermalink }}">{{ .p1.LinkTitle }}</a>
</li>
{{ end }}
