{{/*

  A modified version of the version-banner.html partial in Docsy.

*/}}


{{ $color := "primary" }}
{{ $status := .Site.Params.version.status }}
{{ $latest_version := .Site.Params.version.current_version_url }}
{{ if eq $status "unstable"}}
<div class="pageinfo pageinfo-{{ $color }} pageinfo-unstable">
  <p>You're looking at an unstable version of this specification.
  Unstable specifications may change at any time without notice.</p>
  <p><a href="{{ $latest_version | safeURL }}">Switch to the current stable release</a>.</p>
</div>
{{ else if eq $status "historical" }}
<div class="pageinfo pageinfo-{{ $color }}">
  <p>You're looking at an old version of this specification.<p>
  <p><a href="{{ $latest_version | safeURL }}">Switch to the current stable release</a>.</p>
</div>
{{ end }}
