p {
    line-height: 1.5;
    color: #666;
}

a.anchor {  
    display: block; 
    position: relative; 
    top: -50px; 
    visibility: hidden;
}

a:link {
    color: #2EA3F2;
    text-decoration: none;
}

a:visited {
    color: #2EA3F2;
    text-decoration: none;
}

a:active {
    color: #2EA3F2;
    text-decoration: none;
}

a:hover {
    color: #2EA3F2;
    text-decoration: underline;
}

h1,h2,h3,h4,h5 {
    color: #333;
}

.page-content {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -33px; /* the bottom margin is the negative value of the footer's height */
    padding-bottom: 0;
    padding-top: 0;
}

.push {
    height: 33px; 
}

#page {
    margin-bottom: -33px;
}

#document {
    margin-top: 10px; /* We want a little whitespace before the page content starts */
}

