{% import 'tables.tmpl' as tables -%}

{% if (event.type_with_msgtype) %}
``{{event.type_with_msgtype}}``
{{(4 + event.type_with_msgtype | length) * title_kind}}
{% endif -%}

{% if (not event.type_with_msgtype) %}
``{{event.type}}``
{{(4 + event.type | length) * title_kind}}
{% endif -%}

{% if (event.typeof | length) %}
*{{event.typeof}}*
    {{event.typeof_info | indent_block(4)}}

{% endif -%}

{{event.desc}}

{% for table in event.content_fields %}

{{ tables.paramtable(table.rows, [(table.title or "Content") ~ " Key", "Type", "Description"], (table.title or "")) }}

{% endfor %}
Example{% if examples | length > 1 %}s{% endif %}:

{% for example in examples %}
.. code:: json

    {{example | jsonify(4, 4)}}
{% endfor %}
