{% import 'tables.tmpl' as tables -%}

``{{definition.title}}`` Schema
{{(11 + definition.title | length) * title_kind}}

{% if 'description' in definition %}
{{definition.description}}
{% endif %}

{% for table in definition.tables -%}
{{"``"+table.title+"``" if table.title else "" }}
{{ tables.paramtable(table.rows) }}
{% endfor %}

Example{% if examples | length > 1 %}s{% endif %}:

{% for example in examples %}
.. code:: json

    {{example | jsonify(4, 4)}}
{% endfor %}
