name: Spell Check
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  run:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Check spelling of proposals
      uses: crate-ci/typos@57b11c6b7e54c402ccd9cda953f1072ec4f78e33 # v1.43.5
      with:
        config: ${{github.workspace}}/.github/_typos.toml
